<div>
        <mat-form-field>
                <input matInput [(ngModel)]="concept_name" placeholder="Concept name">
        </mat-form-field>
        <button mat-fab color="primary" (click)="addConcept()" tourAnchor="navigation-view.component.plus" >+</button>
        <button mat-fab color="warn" (click)="removeConcept()" tourAnchor="navigation-view.component.minus">-</button>
</div>

<div>
        <mat-accordion>
                <app-concept-view *ngFor="let c of concepts; let i = index" [concept]="c">
                </app-concept-view>
        </mat-accordion>
</div>